@use '../../../styles/main.module' as *;

.o-title-behind {
  //@include flex(column, center, center);
  position: relative;
  //color: white;

  .title {
  overflow: hidden;
	@include flex(row, center, center);
	span {
	  font-family: Avenir; //TODO de investigat de ce nu merge INTER aici
	  font-size: 300px;
	  font-weight: 900;
	  line-height: 363px;
	  letter-spacing: 0em;
	  text-align: center;

	  border: none;
	  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);
	}
  }

  .children {
	margin-top: -200px;
  }
}
