:root {
    --text-color-dark: rgba(255, 255, 255, 1);
;
    --text-color-light: rgba(20, 20, 20, 1);
    --primary-color: #3498db;
}

.dark-mode-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color-dark);

    &:hover {
        color: var(--primary-color);
    }
}

[data-theme="light"] {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(20, 20, 20, 1);
    --text-color: var(--text-color-light);
}

[data-theme="dark"] {
    --background: rgba(20, 20, 20, 1);
    --foreground: rgba(255, 255, 255, 1);
    --text-color: var(--text-color-dark);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

[data-theme="light"] body {
    color: var(--text-color-light);
}

[data-theme="dark"] span {
    --background: rgba(20, 20, 20, 1);
    --foreground: transparent;
    color: transparent;
    --text-color: var(--text-color-dark);
}

[data-theme="light"] span {
    --background: rgba(20, 20, 20, 1);
    --foreground: transparent;
    color: transparent;
    border: none;
    -webkit-text-stroke: 1px rgba(20, 20, 20, 0.15)!important;
}

[data-theme="light"] .dark-mode-button {
    color: var(--text-color-light);
}

[data-theme="light"] .logo svg {
    fill: rgba(20, 20, 20, 1);
}

[data-theme="dark"] .logo svg , .social-icons svg {
    fill: rgba(255, 255, 255, 1);
}
