:root {
    --text-color-dark: #FFFFFF;
    --text-color-light: #000000;
    --primary-color: #3498db;
}

.dark-mode-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color-dark);

    &:hover {
        color: var(--primary-color);
    }
}

[data-theme="light"] {
    --background: white;
    --foreground: black;
    --text-color: var(--text-color-light);
}

[data-theme="dark"] {
    --background: black;
    --foreground: white;
    --text-color: var(--text-color-dark);
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

[data-theme="light"] body {
    color: var(--text-color-light);
}

[data-theme="light"] .dark-mode-button {
    color: var(--text-color-light);
}

[data-theme="light"] .logo svg {
    fill: black;
}
