.m-header-card{
  border: 2px solid red;
  height: 100%;

  .icon{
	border: 2px solid blue;
	max-height: 60px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
  }

  .divider{
	border: 2px solid green;
	align-items: center;
	display: flex;
	justify-content: flex-start;
  }
}
